[Unit]
Description=Music Journal
Wants=network-online.target
After=network-online.target

[Service]
# If you are not using node, replace /usr/local/bin/deno
# Also make sure to replace <project>, and index.js if necessary
ExecStart=/usr/local/bin/node /root/Music-Journal-wtf-is-my-playlist/dist/server/entry.mjs
# Make sure to replace <project>
WorkingDirectory=/root/Music-Journal-wtf-is-my-playlist
Restart=always
RestartSec=5
# Uncomment this if you have a .env file, change the path if needed:
EnvironmentFile=/root/Music-Journal-wtf-is-my-playlist/.env

[Install]
WantedBy=multi-user.target