[Unit]
Description=Music Journal
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/root/.deno/bin/deno /root/Music-Journal-wtf-is-my-playlist/dist/server/entry.mjs
# Make sure to replace <project>
WorkingDirectory=/root/Music-Journal-wtf-is-my-playlist
Restart=always
RestartSec=5
# Uncomment this if you have a .env file, change the path if needed:
EnvironmentFile=/root/Music-Journal-wtf-is-my-playlist/.env

[Install]
WantedBy=multi-user.target